.card {

  width: clamp(200px, 61vh, 18vw);
  height: clamp(280px, 85vh, 25.2vw);
  position: relative;
  margin: 20px;
  z-index: 10;
  touch-action: none;
  
  border-radius: 5% / 3.5%;
  box-shadow: 
    -5px -5px 5px -5px var(--color1), 
    5px 5px 5px -5px var(--color2), 
    -7px -7px 10px -5px transparent, 
    7px 7px 10px -5px transparent, 
    0 0 5px 0px rgba(255,255,255,0),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
  
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  color: white;
  background-color: #000000;
  transform-origin: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.name {
  opacity: 0;
}