html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  line-height: 1.35;
}

body {
  overflow-x: hidden;
}

:root {
  --clr-neutral-900: hsl(193, 70%, 21%);
  --clr-neutral-700: hsl(193, 36%, 40%);
  --clr-neutral-100: hsl(0, 0%, 95%);
  --clr-accent-400: hsl(193, 72%, 50%);
  --clr-accent-500: hsl(49, 72%, 50%);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background:var(--clr-neutral-900);
}

body::-webkit-scrollbar-thumb {
  background: var(--clr-accent-400);
}

a {
  color: rgb(88, 219, 88);
  text-decoration: none;
  transition: transform 500ms ease-in
}

a:hover {
  color: greenyellow;
  transform: scale(1.05);
  text-decoration: overline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: decimal;
  margin-left: 2rem;
}

p {
  font-size: 1.5rem;
}