.header {
    position:relative;
    width: 100%;
}

.video { 
    position:absolute;
    cursor:pointer;;
    
    width: clamp(20%, 2000px, 20%);
    z-index: 10000;
    top: 45%;
    left: 46%;
    overflow: hidden;
    margin-bottom: 4rem;
    font-size: 2vh;
    font-weight:600;
}

@media (max-width:30em) {
    .video {
        display:none;
    }
}